<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= link_to comment.post.name, post_path(comment.post) %>
  </p>

</div>
