<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<div class="button-group">
  <%= link_to "Show this comment", @comment, class: "button-success" %>
</div>

<div>
  <%= link_to "Back to post", post_path(@comment.post) %>
</div>
